#top {
    margin-left: 2rem;
}

.n-wrapper {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    top: 0;
    z-index: 0;
  }

  .n-left {
    flex: 1;
    color: var(--color-bg-variant);
    align-items: center;
    justify-content: left;
    display: flex;
    gap: 0.8rem;
  }

.n-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 1.5rem;
  }

/* ========== MEDIA QUERIES (X-LARGE SCREEN) ========== */ 
@media screen and (max-width: 1224px) { 

  }
  
  /* ========== MEDIA QUERIES (LARGE SCREEN) ========== */
  @media screen and (max-width: 824px) {
    .n-wrapper {
        justify-content: space-around;
        align-items: center;
        transform: scale(0.8);
    }
  }
  
  /* ========== MEDIA QUERIES (MEDIUM SCREEN) ========== */
  @media screen and (max-width: 624px) {
    .n-wrapper {
        transform: scale(0.6);
    }
  }
  
  /* ========== MEDIA QUERIES (SMALL SCREEN) ========== */
  @media screen and (max-width: 424px) {
    .n-wrapper {
        transform: scale(0.4);
    }
  }