footer > div {
    display: relative;
    padding: 2rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 1rem;
}

footer a {
    color: var(--color-bg);
}

footer a:hover {
    color: var(--color-neon);
}

.footer__logo {
    font-size: 2rem;
    font-weight: 500;
    display: inline-block;
}

.footer__copyright {
    margin-bottom: 3rem;
    color: var(--color-bg);
}

/* ========== MEDIA QUERIES (X-LARGE SCREEN) ========== */ 
@media screen and (max-width: 1224px) { 

}

/* ========== MEDIA QUERIES (LARGE SCREEN) ========== */
@media screen and (max-width: 824px) {

}

/* ========== MEDIA QUERIES (MEDIUM SCREEN) ========== */
@media screen and (max-width: 624px) {

}

/* ========== MEDIA QUERIES (SMALL SCREEN) ========== */
@media screen and (max-width: 424px) {

}