@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
@import url("https://fonts.googleapis.com/css?family=VT323");

.App{
  padding: 0.5rem 2.5rem;

  color: var(--black);   
}

:root {
  --color-bg: #f7c4f5;
  --color-bg-variant: #471b76;
  --color-primary:#e02599;
  --color-primary-variant: #F88FCF;
  --color-purp: #2d0557;
  --color-lurp: #aa64f6;
  --color-light: #ede1f9;
  --color-neon: #50EFBD;

  --transition: all 400ms ease;
  --container-width: 90%;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
  overscroll-behavior: none;
  background: url("./assets/background/nft-galaxy.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: "Press Start 2P", "VT323";
  color: white;
  text-align: center;
  height: 200vh;
}

.overlay {
  opacity: 0.85;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
}



/* ========== MEDIA QUERIES (X-LARGE SCREEN) ========== */ 
@media screen and (max-width: 1224px) { 

}

/* ========== MEDIA QUERIES (LARGE SCREEN) ========== */
@media screen and (max-width: 824px) {

}

/* ========== MEDIA QUERIES (MEDIUM SCREEN) ========== */
@media screen and (max-width: 624px) {

}

/* ========== MEDIA QUERIES (SMALL SCREEN) ========== */
@media screen and (max-width: 424px) {

}