@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css2?family=VT323');

* {
  box-sizing: border-box;
}

:root {
  --color-bg: #f7c4f5;
  --color-bg-variant: #471b76;
  --color-primary:#e02599;
  --color-primary-variant: #F88FCF;
  --color-purp: #2d0557;
  --color-lurp: #aa64f6;
  --color-light: #ede1f9;
  --color-neon: #50EFBD;
}

html,
body {
  overscroll-behavior: none;
}

body {
  text-align: center;
  font-family: "Press Start 2P", "VT323";
  color: var(--color-light); 
}

.overlay {
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
}

.bg {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("./assets/background/nft-galaxy.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
}

.mainMint img {
  transform: scale(1.8);
  padding: 1rem;
  margin-bottom: 3rem;
}

/* ========== MEDIA QUERIES (BREAKPOINT SCREEN) ========== */ 
@media screen and (max-width: 1555px) { 
 
}

/* ========== MEDIA QUERIES (X-LARGE SCREEN) ========== */ 
@media screen and (max-width: 1224px) { 
  .navBar {
      transform: scale(1);
      padding-bottom: 2.5rem;
  } 
}

/* ========== MEDIA QUERIES (LARGE SCREEN) ========== */
@media screen and (max-width: 824px) {

}

/* ========== MEDIA QUERIES (MEDIUM SCREEN) ========== */
@media screen and (max-width: 624px) {
  .navBar {
    transform: scale(0.8);
  }
  .mainMint {
    transform: scale(0.8);
    margin-top: -5rem;
  }

}

/* ========== MEDIA QUERIES (SMALL SCREEN) ========== */
@media screen and (max-width: 424px) {
  .navBar {
    transform: scale(0.7);
  }
  .mainMint {
    transform: scale(0.7);
    margin-top: -5rem;
  }
  .mainMint img {
    transform: scale(2.5);
    margin-bottom: 55px;
  }
}